#actual-body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-qr {
    max-height: 10%;
    max-width: 10%;
    position: absolute;
    right: 10%;
    top: 10%;
}

.bottom-qr {
    max-height: 10%;
    max-width: 10%;
    position: absolute;
    left: 10%;
    top: 35%;
    transform: rotate(180deg);
}

.pguy {
    height: calc(20em + 10vw);
    width: calc(20em + 10vw);
    text-align: center;
    margin: auto;
}

.intro-text {
    position: relative;
    margin: auto;
}

.my-h3 {
    color: #2e2cc8;
    margin: 50px auto 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.my-h2 {
    color: #2e2cc8;
    margin: 0px auto;
    font-size: calc(1.5rem + 1vw);
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    line-height: 2;
}

.my-h2-padding {
    padding-top: 50px;
}

.my-h1 {
    color: #2e2cc8;
    margin: 10px auto;
    font-size: calc(3.625rem + 2vw);
    font-family: 'Sacramento', cursive;
}

.profile-block {
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

.starting-block {
    background-color: #C0DEFF;
    position: relative;
    padding-top: 6.25vw;
    padding-bottom: 6.25vw;
}

.wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

.my-hr {
    border-style: dotted none none;
    width: 10%;
    /* border-color: #2c4a69; */
    border-width: 8px;
    margin: 50px auto auto auto;
}

.profile-img {
    height: 200px;
    width: 200px;
}

.my-p {
    margin-top: 16px;
    font-family: 'Montserrat', sans-serif;
}

.navbar-my-font{
    font-family: 'Montserrat', sans-serif;
    background-color: #C0DEFF;
}

.nav-link {
    color: #2e2cc8 !important;
}

.skills-block {
    padding-left: 10%;
    padding-right: 10%;
}

.skill-icons {
    display: inline-block;
    margin: 15px 15px;
}

.skill-icon-text {
    margin: 5px 5px;
    font-family: 'Montserrat', sans-serif;
}

.education-card-img {
    height: 200px;
    width: 200px;
    margin: 10px auto;
}

.work-card-img {
    height: 200px;
    width: 300px;
    margin: 10px auto;
}

.my-carousel {
    height: 480px;
}

.my-carousel-img {
    height: 100%;
}

.carousel-control-next,
.carousel-control-prev , .carousel-indicators {
    filter: invert(100%);
}

.my-icon {
    font-size: 50px;
}

.footer-link {
    margin: 50px;
    text-align: left;
}

.my-footer {
    background-color: #C0DEFF;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.card-img-top {
    flex-grow: 1;
    object-fit:contain;
}
.card-body{
    flex-grow:0;
}

.c-card {
    height: 50%;
    width: 50%;
    margin-top: 30px;
}

.card-my-ul {
    text-align: left;
}

.modal-h2 {
    color: #2e2cc8;
    font-size: calc(1.5rem + 1vw);
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.my-work-card {
    transition: 0.3s;
}

.my-work-card:hover {
    transform: scale(1.15);
}