body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-qr {
    max-height: 10%;
    max-width: 10%;
    position: absolute;
    right: 10%;
    top: 10%;
}

.bottom-qr {
    max-height: 10%;
    max-width: 10%;
    position: absolute;
    left: 10%;
    top: 35%;
    transform: rotate(180deg);
}

.intro-text {
    position: relative;
    margin: auto;
}

.pguy {
    /* max-width: 35%;
    max-height: 35%; */
    height: calc(20em + 10vw);
    width: calc(20em + 10vw);
}

h2 {
    color: #2e2cc8;
    margin: 0px auto;
    font-size: calc(1.5rem + 1vw);
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    line-height: 2;
}

h1 {
    color: #2e2cc8;
    margin: 10px auto;
    font-size: calc(3.625rem + 2vw);
    font-family: 'Sacramento', cursive;
}

h3 {
    color: #2e2cc8;
    margin: 50px auto 0 auto;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.profile {
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

.starting-block {
    background-color: #C0DEFF;
    position: relative;
    padding-top: 6.25vw;
    padding-bottom: 6.25vw;
}

hr {
    border-style: dotted none none;
    width: 10%;
    border-color: #C0DEFF;
    border-width: 8px;
    margin: 50px auto;
}

.profile-img{
    height: 200px;
    width: 200px;
}

.projects {

}

.contact {
    
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.cursor {
    animation: blink 1s ease 0s infinite normal none;
}